<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
  <%= stylesheet_link_tag "style" %>
</head>
<body>
  <div class ="container">
    <h2>Home Page</h2>
    <% @users.each do |user| %>
      <div class="cards">
        <a class="card-link" href="<%= user_path(user) %>">
          <img src="<%= user.photo %>" alt="Image Description">
          <div class="content">
            <h2>Username: <%= user.name %></h2>
            <p class="post-count">Number of posts: <%= user.posts_counter %></p>
          </div>
        </a>
      </div> 
    <% end %>
    <a class="card-link" href="<%= new_post_path %>"><button>Create New Post</button></a>
  </div>
  
</body>
</html>
