<!DOCTYPE html>
  <head>
    <title>All Users</title>
  </head>
  <body>
    <div class ="container">
      <div class="cards">
        <img src="https://your-image-url.com/image.jpg" alt="Image Description">
        <div class="content">
          <h2>Username: <%= @specific_user.name %></h2>
          <p class="post-count">Number of posts: x</p>
        </div>
        
      </div>
      <div class="">
        <p class="">
          Bio <br>
          <%= @specific_user.bio %>
        </p>
      </div>
      <div>
        # <% @user_post.each do |post| %>
        #   <%= post.title %>
        # <% end %>  
        <p>Post #1</p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur commodi iste non quae soluta tenetur ipsa magni ea, eos a ab quasi, cumque atque blanditiis nihil aliquid quaerat ex rem!
        </p>
      </div>
      <div>
        # <% @user_post.each do |post| %>
        #   <%= post.title %>
        # <% end %>  
        <p>Post #2</p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur commodi iste non quae soluta tenetur ipsa magni ea, eos a ab quasi, cumque atque blanditiis nihil aliquid quaerat ex rem!
        </p>
      </div>
      <div>
        # <% @user_post.each do |post| %>
        #   <%= post.title %>
        # <% end %>  
        <p>Post #3</p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur commodi iste non quae soluta tenetur ipsa magni ea, eos a ab quasi, cumque atque blanditiis nihil aliquid quaerat ex rem!
        </p>
      </div> 
      <a class="card-link" href="<%= post_path(id: @specific_user.id) %>"><button>See all posts</button></a>
    </div>
   
  </body>
</html>
