<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
  <%= stylesheet_link_tag "style" %>
</head>
<body>
  <div class ="container">
    <div class="cards">
      <div class="detail-top">
        <p>Post 1 by username  <%= @specific_post.author.name %></p>

        <p>Post 1 by username  <%= @specific_user.id %></p>        <p>Comments: <%= @specific_post.comments_counter %> Likes: <%= @specific_post.likes_counter %></p>
      </div>
    </div>
    <div class="main-section">
      <p>
      <%= @specific_post.text %>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis voluptatum dolores voluptate animi maxime suscipit voluptates placeat vitae aliquam harum assumenda, culpa magnam adipisci incidunt sequi aperiam possimus aliquid doloribus!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis voluptatum dolores voluptate animi maxime suscipit voluptates placeat vitae aliquam harum assumenda, culpa magnam adipisci incidunt sequi aperiam possimus aliquid doloribus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis voluptatum dolores voluptate animi maxime suscipit voluptates placeat vitae aliquam harum assumenda, culpa magnam adipisci incidunt sequi aperiam possimus aliquid doloribus!
      <p>
      
      <p>Username: Comments 1</p>
      <p>Username: Comments 2</p>
      <p>Username: Comments 3</p>
      <p>Username: Comments 4</p>
      <p>Username: Comments 5</p>
      <p>Username: Comments 6</p>
      <p>Username: Comments 7</p>
      <p>Username: Comments 8</p>
      <p>Username: Comments 9</p>
      <p>Username: Comments 10</p>
      <% @post_comments.each do |comment| %>
        <div class="comment">
          <!-- Display the comment content here -->
          <%= comment.text %>
      
          <!-- Check if the current user is the author of the comment -->
          <% if comment.author == current_user %>
            <!-- Create a link to delete the comment -->
            <%= link_to 'Delete', delete_comment_path(user_id: @specific_user, post_id: @specific_post, id: comment), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      <% end %>
      <p>
        <%= form_with model: @like, url: create_like_path(user_id: @specific_post.author_id, post_id: @specific_post), method: :post do |form| %>
          <%= form.submit 'Like' %>
      
        <% end %>
      </p>
     
      
      <a href="<%= new_comment_path(user_id: @specific_user.id, post_id: @specific_post.id) %>">
        <button>Create comment</button
      </a>
      
      <%= link_to 'Delete', delete_post_path(user_id: @specific_user.id, post_id: @specific_post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  
    </div>
  </div>
</body>
</body>
</html>
